<div class="overlay" *ngIf="loading">
  <div id="loading-img"></div>
</div>
<h3>CATEGORIES</h3>
<form
  [formGroup]="loginFormGroup"
  class="example-form"
  (ngSubmit)="onFormSubmit()"
>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Category Name"
      formControlName="categoryname"
      [errorStateMatcher]="matcher"
      required
    />
    <mat-error>
      <span
        *ngIf="
          !loginFormGroup.get('categoryname').valid &&
          loginFormGroup.get('categoryname').touched
        "
        >Please enter Category Name</span
      >
    </mat-error>
  </mat-form-field>
  <div class="d-save-button d-buttons">
    <button
      mat-button
      class="mat-raised-button mat-button-base"
      color="primary"
      [disabled]="!loginFormGroup.valid"
      type="submit"
    >
      Save
    </button>
  </div>
</form>

<div class="card">
  <p class="card-header text-center font-weight-bold text-uppercase">
    Categories table
  </p>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center">Category Name</th>
          <th class="text-center">Action</th>
        </tr>
        
        <tr *ngFor="let category of categories; let id = index">
          <td>
            <span
              (blur)="updateCategory(category._id, 'categoryname', $event)"
              contenteditable="true"
              >{{ category.categoryname }}</span
            >
          </td>

          <td>
            <span class="table-remove">
              <!-- <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="deleteCategory(category._id)"
              >
                Remove
              </button> -->
              <i class="fa fa-trash delete-icon icon" aria-hidden="true" (click)="deleteCategory(category._id)"></i>
            </span>
          </td>
        </tr>
        <div *ngIf="!categories.length">
          No data found
        </div>
      </table>
    </div>
  </div>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
