<div class="overlay" *ngIf="loading">
    <div id="loading-img"></div>
</div>
<h2>WELCOME ADD_PRODUCTS PAGE</h2>
<div>
    <form>
        <div class="form-group">
          <label for="title">Product Title :</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Product Title" name="title" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="subtitle">Product Sub Title :</label>
            <input type="text" class="form-control" id="subtitle" placeholder="Enter Product Sub Title" name="subtitle" [(ngModel)]="subtitle">
        </div>
        <div class="form-group">
            <label for="categoryid">Product Category:</label>
            <select class="form-control" (change)="setCategory($event)" [(ngModel)]="categoryid">
                <option *ngFor="let data of categories"
                [value]="data._id">{{data.categoryname}}
                </option>
            </select>
          </div>
          <div class="form-group">
            <label for="subcategoryid">Product Sub Category:</label>
            <select class="form-control" (change)="setSubCategory($event)" [(ngModel)]="subcategoryid">
                <option *ngFor="let data of subCategories"
                [value]="data._id">{{data.subcategoryname}}
                </option>
            </select>
          </div>
          <div class="form-group">
            <label for="subchildcategoryid">Product Sub Child Category:</label>
            <select class="form-control" (change)="setSubChildCategory($event)" [(ngModel)]="subchildcategoryid">
                <option *ngFor="let data of subChildCategories"
                [value]="data._id">{{data.subchildcategoryname}}
                </option>
            </select>
          </div>
          <div class="form-group">
            <label for="price">Product Price :</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Product Price" name="price" [(ngModel)]="price">
          </div>
          <div class="form-group">
            <label for="quantity">Product Qunatity :</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Product Quantity" name="quantity" [(ngModel)]="quantity">
          </div>
          <div class="form-group">
            <label for="quantity">Product Measurements :</label>
            <input type="text" class="form-control" id="measurements" placeholder="Enter Product Measurements" name="measurements" [(ngModel)]="measurements">
          </div>
          <div class="form-group">
            <label for="quantity">Product Description :</label>
            <textarea type="text" class="form-control" id="description" placeholder="Enter Product Description" name="description" [(ngModel)]="description"></textarea>
          </div>
        <button type="button" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </form>
</div>