<div class="overlay" *ngIf="loading">
    <div id="loading-img"></div>
</div>
<h2>WELCOME ADD_PRODUCTS PAGE</h2>
<div class="row">
    <!-- <form> -->
      <div class="col">
        <div class="form-group">
          <label for="title">Product Title<span class="required">*</span> :</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Product Title" name="title" [(ngModel)]="title" required='' aria-required="">
        </div>
        <div class="form-group">
          <label for="categoryid">Product Category<span class="required">*</span> :</label>
          <select class="form-control" (change)="setCategory($event)" [(ngModel)]="categoryid" required>
              <option *ngFor="let data of categories"
              [value]="data._id">{{data.categoryname}}
              </option>
          </select>
        </div>
        <div class="form-group">
          <label for="subchildcategoryid">Product Sub Child Category:</label>
          <select class="form-control" (change)="setSubChildCategory($event)" [(ngModel)]="subchildcategoryid">
              <option *ngFor="let data of subChildCategories"
              [value]="data._id">{{data.subchildcategoryname}}
              </option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Product Price <span class="required">*</span> :</label>
          <input type="number" class="form-control" id="price" placeholder="Enter Product Price" name="price" [(ngModel)]="price" required>
        </div>
        <div class="form-group">
          <label for="quantity">Product Measurements :</label>
          <input type="text" class="form-control" id="measurements" placeholder="Enter Product Measurements" name="measurements" [(ngModel)]="measurements">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="subtitle">Product Sub Title :</label>
          <input type="text" class="form-control" id="subtitle" placeholder="Enter Product Sub Title" name="subtitle" [(ngModel)]="subtitle">
        </div>
        <div class="form-group">
          <label for="subcategoryid">Product Sub Category <span class="required">*</span> :</label>
          <select class="form-control" (change)="setSubCategory($event)" [(ngModel)]="subcategoryid" required>
              <option *ngFor="let data of subCategories"
              [value]="data._id">{{data.subcategoryname}}
              </option>
          </select>
        </div>
        <div class="form-group">
          <label for="quantity">Product Qunatity :</label>
          <input type="number" class="form-control" id="price" placeholder="Enter Product Quantity" name="quantity" [(ngModel)]="quantity">
        </div>
        <div class="form-group">
          <label for="quantity">Product Description <span class="required">*</span> :</label>
          <textarea type="text" class="form-control" id="description" placeholder="Enter Product Description" name="description" required="" [(ngModel)]="description" aria-required=""></textarea>
        </div>
      </div>
    <!-- </form> -->
</div>
<div class="row justify-content-center align-items-center">
  <button type="button" class="btn btn-primary" (click)="submitForm()">Submit</button>
</div>