<div class="overlay" *ngIf="loading">
  <div id="loading-img"></div>
</div>
<h2>WELCOME SUB-CATEGORY PAGE</h2>
<form id="subCategory" fxLayout="column" [formGroup]="subCategoryFormGroup" class="example-form"
  (ngSubmit)="onFormSubmit()">

  <div class="input-row">
    <mat-form-field>
      <select formControlName="categoryid" (ngModelChange)="onCategorySelection(selectField.value)" #selectField>
        <option value="">Select Category</option>
        <option *ngFor="let category of categories" value={{category._id}}>{{category.categoryname}}</option>
      </select>
    </mat-form-field>
  </div>
  <div class="input-row">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Sub-Category Name" formControlName="subcategoryname" [errorStateMatcher]="matcher"
        required />
    </mat-form-field>
  </div>
  <div class="d-save-button d-buttons">
    <button mat-button class="mat-raised-button mat-button-base" color="primary"
      [disabled]="!subCategoryFormGroup.valid" type="submit">
      Save
    </button>
  </div>
</form>
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Category Name</th>
          <th class="text-center">Sub-Category Name</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let subcategory of subcategories; let id = index">
          <td>
            <span contenteditable="true">{{subcategory.categoryid}}</span>
          </td>
          <td>
            <span contenteditable="true">{{subcategory.subcategoryname}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                (click)="deleteSubCategory(subcategory._id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
